@model IEnumerable<SmartMealsWeb.Models.Friend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends</h2>
@if (!Model.Any())
{
    <p>You don't have any friends yet.</p>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Friend</th>
            <th>Meal Plan</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var friend in Model)
        {
            <tr>
                <td>@Html.ActionLink(friend.Name, "Edit", "Friends", new { id = friend.Id }, null)</td>
                <td>@friend.MealPlanType.Name</td>
            </tr>
        }


    </tbody>
</table>
}