
@model IEnumerable<SmartMealsWeb.Models.Meal>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Meals</h2>
    @if (!Model.Any())
    {
        <p>You don't have any Meals yet.</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Meal</th>
                    <th>Meal Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var meal in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(meal.Name, "Index", "Meal", new { id = meal.Id }, null)</td>
                        <td>@meal.MealType.Name</td>
                    </tr>
                }


            </tbody>
        </table>
    }
