@model IEnumerable<SmartMealsWeb.Models.Friend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends</h2>
@if (!Model.Any())
{
    <p>You don't have any friends yet.</p>
}
else
{
    <table id="friends" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Friend</th>
                <th>Meal Plan</th>
                <th>Unfriend</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var friend in Model)
            {
                <tr>
                    <td>@Html.ActionLink(friend.Name, "FriendProfile", "Friends", new { id = friend.Id }, null)</td>
                    <td>@friend.MealPlanType.Name</td>
                    <td>
                        <button data-friend-id="@friend.Id" class="btn-link js-delete">Unfriend</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
}
@section scripts
{
   <script>
       $(document).ready(function () {
           
           $("#friends .js-delete").on("click", function () {
               var button = $(this);
               if(confirm("Are you sure you want to unfriend this person?")){
                   $.ajax({
                       url: "api/friends/" + button.attr("data-friend-id"),
                       method: "DELETE",
                       sucess: function() {
                           button.parents("tr").remove();
                       }

                   });
                    
               }
           });
       });
     
                     
</script>

}